body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    color: #333;
}

.clock {
    padding: 10px 20px;
    font-size: 26px;
    text-decoration: none;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1,
h2 {
    color: #2c3e50;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #ecf0f1;
}

.btn-small {
    
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.btn-small :hover {
    background-color: #185c8a;
}

.btn-dropdown {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.btn-dropdown :hover {
    background-color: #2980b9;
}

.btn-danger {
    background-color: #e74c3c;
    text-align: left;
}

.btn-danger:hover {
    background-color: #c0392b;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-flex;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    background-color: #3498db;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #2980b9;
}

form {
    margin-bottom: 20px;
}

form>* {
    margin: 5px;
    display: block;
}