<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание школьных звонков</title>
</head>

<body>
    <div class="container">
        <h1>Расписание школьных звонков</h1>
        <div id="clock" class="btn-small"></div>
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Начало урока</th>
                    <th>Конец урока</th>
                    <th>Аудио файл</th>
                    <th>Действие</th>
                </tr>
            </thead>
            <tbody>
                {% for time_slot in schedule %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ time_slot['lesson_start'] }}</td>
                    <td>{{ time_slot['lesson_end'] }}</td>
                    <td>{{ time_slot.get('audio_file_path', 'Не указан') }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn">Меню</button>
                            <div class="dropdown-content">
                                <form method="post" action="/delete/{{ loop.index0 }}" style="margin-bottom: 0;">
                                    <button type="submit" class="btn-dropdown btn-danger">Удалить</button>
                                </form>
                                <form method="post" action="/replace_audio/{{ loop.index0 }}"
                                    enctype="multipart/form-data" style="margin-bottom: 0;">
                                    <input type="file" name="audio_file" accept=".mp3,.wav,.ogg" required>
                                    <button type="submit" class="btn-small">Заменить аудио</button>
                                </form>
                                <form method="post" action="/edit_time/{{ loop.index0 }}" style="margin-bottom: 0;">
                                    <input type="time" class="btn-small" name="lesson_start"
                                        value="{{ time_slot['lesson_start'] }}" required>
                                    <input type="time" class="btn-small" name="lesson_end"
                                        value="{{ time_slot['lesson_end'] }}" required>
                                    <button type="submit" class="btn-small">Заменить время</button>
                                </form>
                                <form method="post" action="/move_up/{{ loop.index0 }}" style="display: inline;">
                                    <button type="submit" class="btn-small">&#8679; Вверх</button>
                                </form>
                                <form method="post" action="/move_down/{{ loop.index0 }}" style="display: inline;">
                                    <button type="submit" class=" btn-small">&#8681; Вниз</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Добавить время звонка</h2>
        <form method="post" action="/add" enctype="multipart/form-data">
            <table class="container">
                <thead>
                    <th>
                        <div>Начало урока</div>
                        <input type="time" class="btn-small" name="lesson_start" required>
                    </th>
                    <th>
                        <div>Конец урока</div>
                        <input type="time" class="btn-small" name="lesson_end" required>
                    </th>
                    <th>
                        <div>Аудио файл</div>
                        <input type="file" name="audio_file" accept=".mp3,.wav,.ogg" required>
                        <button type="submit" class="btn-small">Добавить и загрузить</button>
                        </form>
                    </th>
                </thead>
            </table>
    </div>
    <script>
        function updateClock() {
            const now = new Date();
            document.getElementById('clock').innerHTML = now.toLocaleTimeString();
        }
        setInterval(updateClock, 500);
    </script>
</body>

</html>